<div class="content narrow">
  <div class="new-post-form no-bg">
    <i></i>
    <i></i>
    <div class="breadcrumbs">
      <%= link_to 'Уведомления', notices_path %> / <%= link_to 'Ваши подписчики', followers_notices_path %> / <%= link_to 'Вы читаете', following_notices_path %> / Отслеживание новых питомцев
    </div>

    <!-- СПИСОК ПОДПИСОК -->
    <% unless @ids == [] %>
    <%= form_tag breed_d_notices_path, method: :post do %>
    <div class="tracking-block">
      <div class="tracking-block-title">Уже отслеживаете:</div>
      <ul class="spec">
        <% Breed.where(id: @ids).each do |breed| %>
          <li>
            <label>
              <span>
                <%= check_box_tag 'breed_id[]', breed.id %>
                <span class="check"></span>
              </span>
              <span class="llabel"><%= breed.name %></span>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="to-center"><%= button_tag 'Отписаться', type: 'submit' %></div>
    <% end %>
    <% end %>
    <!-- СПИСОК ПОДПИСОК -->

    <%= form_tag breed_s_notices_path, method: :post do %>
    <div class="subcribe-block">
      <div class="subcribe-block-col">
        <div class="subcribe-block-title"><i class="dog"></i>Список пород собак</div>
        <ul>
          <% @dogs.each do |breed| %>
            <li>
              <label>
                <span>
			   	  <%= check_box_tag 'breed_id[]', breed.id %>
                  <span class="check"></span>
				</span>
                <span class="llabel"><%= breed.name %></span>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="subcribe-block-col">
        <div class="subcribe-block-title"><i class="cat"></i>Список пород кошек</div>
        <ul>
          <% @cats.each do |breed| %>
            <li>
              <label>
              <span>
			 	<%= check_box_tag 'breed_id[]', breed.id %>
			    <span class="check"></span>
		  	  </span>
              <span class="llabel"><%= breed.name %></span>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="to-center"><%= button_tag 'Подписаться', type:'submit' %></div>
    <% end %>
  </div>
</div>