<div class="content narrow">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "new-post-form" }) do |f| %>
    <i></i>
    <i></i>
    <fieldset>
      <h3>Регистрация</h3>
      <%= devise_error_messages! %>
      <label class="field">
        <p>Ваш псевдоним (только латинские буквы и цифры)</p>
        <span><%= f.text_field :nickname, class:"text #{'pass' if resource.errors.messages.has_key?(:nickname)}" %></span>
              </label>
      <label class="field">
        <p>Введите ваш e-mail (используется для входа)</p>
        <span><%= f.email_field :email, class:"text #{'pass' if resource.errors.messages.has_key?(:email)}" %></span>
      </label>
      <label class="field">
        <p>Ваш пароль (5 знаков минимум)</p>
        <span><%= f.text_field :password, class: "text #{'pass' if resource.errors.messages.has_key?(:password)}" %></span>
      </label>
      <label>
        <p><%= recaptcha_tags %></p>
      </label>
      <div><%= f.button "Регистрация", type:"submit", data: { disable_with: 'Ожидайте...' } %></div>
    </fieldset>
  <% end %>
</div>