<div class="content narrow">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "new-post-form", method: :put }) do |f| %>
      <i></i>
      <i></i>
      <fieldset>
        <h3>Смена пароля</h3>
        <p class="error"><%= devise_error_messages! %></p>
        <%= f.hidden_field :reset_password_token %>
        <label class="field">
          <p>Ваш новый пароль</p>
          <span><%= f.password_field :password, autofocus: true, autocomplete: "off", class: "text" %></span>
        </label>
                <label class="field">
                  <p>Повтор пароля</p>
                  <span><%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: "text" %></span>
                        </label>
                <div><%= f.button "Изменить", type:"submit" %></div>
                </fieldset>
  <% end %>
            </div>
