<h1>Выделите нужную область изображения</h1>
<% content_for (:head) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<script type="text/javascript">
        $(function() {
            $('#cropbox').Jcrop({
                onChange: update_crop,
                onSelect: update_crop,
                setSelect: [0, 0, 500, 500],
                aspectRatio: 1
            });
        });

        function update_crop(coords) {
            var ratio = <%= @user.avatar_geometry(:original).width %> / <%= @user.avatar_geometry(:large).width %>;
            $('#crop_x').val(Math.floor(coords.x * ratio));
            $('#crop_y').val(Math.floor(coords.y * ratio));
            $('#crop_w').val(Math.floor(coords.w * ratio));
            $('#crop_h').val(Math.floor(coords.h * ratio));
        }
    </script>
<% end %>

<%= image_tag @user.avatar.url(:large), id: "cropbox"%>

<%= form_for @user, url: im_edit_path, method: :put do |f| %>
	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
  	<%= f.hidden_field attribute, :id => attribute %>
  <% end %>
    <p><%= f.submit "Готово" %></p>
<% end %>