
      <div class="content">
        <div class="profile-frame">
          <div class="info-profile">
            <div class="user-name-title">
              <strong><%= current_user.nickname %></strong>
              <span><%= current_user.first_name.nil? || current_user.first_name.blank? ? "Аноним" : current_user.first_name %> <%= current_user.last_name.nil? || current_user.last_name.blank? ? "" : current_user.last_name.capitalize %></span>
            </div>
            <div class="user-photo">
              <a href="#"><img src="<%= current_user.avatar.url(:small) %>" alt="#" width="198" height="198" /></a>
            </div>
            <div class="age-holder">
              
              <span><%= current_user.city.name %>, <%= current_user.country.nil? ? "Россия" : current_user.country %></span>
            </div>
            <%= link_to "Редактировать профиль", im_edit_path, class: "show-all" %>
          </div>
          <div class="info-pets">
            <ul class="info-pets-list tabset">
              <% x = 0 %>
              <% @pets.each do |t| %>
                <% x = x + 1 %>
                <li><a <%= "class = active" if x == 1 %> href="#pets-0<%= x %>"><%= t.name %></a></li>
              <% end %>
              <% if x < 3 %>
                <li class="add-pet"><%= link_to "Добавить питомца", pet_new_path %></li>
              <% else %>
              <% end %>
            </ul>

            <% x = 0 %>
            <% @pets.each do |t| %>
            <% x = x + 1 %>
            <div id="pets-0<%= x %>">
              <div class="gallery-holder slideshow">
                <div class="gallery">
                  <div class="gholder">
                    <a class="btn-prev" href="#">&nbsp;</a>
                    <a class="btn-next" href="#">&nbsp;</a>
                    <div class="gmask">
                      <div class="slideset">
                        <div class="slide active">
                          <%= image_tag t.photo.url(:medium) %>
                        </div>
                        
                        <div class="data-pet">
                          <div class="name-pet">
                            <span><%= t.name %><strong>4 года</strong></span>
														<%= link_to "#{t.breed.name}", show_breed_path(t.breed.translate) %>
                          </div>
                          <div class="subscriber">
                            <strong>734</strong>
                            <span>подписчика</span>
                          </div>
                          <div class="likes">
                            <strong>1061</strong>
                            <span>нравится</span>
                          </div>
                          <%= link_to "Изменить", edit_path(t), class: "button" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
        <div class="all-notes">
          <strong>Показать записи про питомца:</strong>
          <ul class="all-notes-list">
            <li><a href="#">Лолита</a></li>
          </ul>
					<%= link_to "Написать в блог", blog_new_path, class: "write-to-blog"%>
        </div>
				
        <% @blogs.each do |t| %>
				<div class="note-holder">
          <div class="note">
            <div class="note-title">
              <span><a href="#"><%= current_user.first_name %></a> о питомцах <a href="#">Лолита</a> и <a href="#">Старк</a> <%= time_ago_in_words(t.created_at) %> назад</span>
            </div>
            <h4><%= t.title %></h4>
            <p><%= t.body %></p>
            <ul class="image-list">
              <li><img src="images/img15.jpg" alt="#" width="355" height="266" /></li>
              <li><img src="images/img16.jpg" alt="#" width="384" height="266" /></li>
						</ul>
            <div class="actions-row">
              <form action="#" class="edit-form">
                <fieldset>
                  <select>
                    <option>Редактировать</option>
                    <option>Изменить</option>
                    <option>Удалить</option>
                  </select>
                </fieldset>
              </form>
              <a class="comment" href="#">Комментировать <span>10</span></a>
              <a class="like-me" href="#">Нравится <span>75</span></a>
              <a class="write-to-blog" href="#">Далее</a>
            </div>
          </div>
          <div class="avatar-holder">
            <ul class="avatar-list">
              <li>
                <div class="image-holder">
                  <a href="#"><img src="images/img17.png" alt="#" width="61" height="61" /></a>
                </div>
                <span># Лолита</span>
              </li>
            </ul>
          </div>
        </div>
				<% end %>
      </div>
