<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(document).ready(function() {
        $('.fancybox').fancybox();


        $(".all-notes-list a").click(function() {
            $(this).parent(".all-notes-list li").toggleClass("selected");
        })


        $('a#go').click( function(event){ // лoвим клик пo ссылки с id="go"
            event.preventDefault(); // выключaем стaндaртную рoль элементa
            $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                    function(){ // пoсле выпoлнения предъидущей aнимaции
                        $('#modal_form')
                                .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                                .animate({opacity: 1, top: '50%'}, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                    });
        });
        /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
        $('#modal_close, #overlay').click( function(){ // лoвим клик пo крестику или пoдлoжке
            $('#modal_form')
                    .animate({opacity: 0, top: '45%'}, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                    function(){ // пoсле aнимaции
                        $(this).css('display', 'none'); // делaем ему display: none;
                        $('#overlay').fadeOut(400); // скрывaем пoдлoжку
                    }
            );
        });
    });
</script>
<div id="modal_form"><!-- Сaмo oкнo -->
  <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
  <!-- Тут любoе сoдержимoе -->
  <div class="modal-content-block">
    <center>
        <p><h1>Правила участия в конкурсе</h1></p>
    </center>
  </div>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

<div class="content narrow">
  <div class="new-post-form rating-bg">
    <i></i>
    <i></i>
    <h3>Текущие результаты</h3>
    <div class="rule-link"><a href="#" id="go">Правила участия в голосовании.</a></div>
    <ul class="new-vote-list">
      <% x = 1 %>
      <% y = 100 %>
      <% @top5.each do |user| %>
          <li>
            <div class="vote-list-item">
              <div class="vote-list-num"><span><%= x %></span></div>
              <div class="vote-list-photo"><span><%= link_to (image_tag user.avatar.url(:small)), user_path(user.nickname.downcase) %></span></div>
              <div class="vote-list-name">
                <span>
                  <span class="vote-list-nick-name"><%= link_to user.nickname, user_path(user.nickname.downcase) %></span>
                  <span class="vote-list-true-name"><%= user.first_name if user.first_name %> <%= user.last_name if user.last_name %></span>
                </span>
              </div>
              <div class="vote-list-rating"><span style="width: <%= y %>%;"></span></div>
              <div class="vote-list-progress">
                <span class="vote-list-progress-bg"><span class="vote-list-progress-state" style="width: 80%;"></span></span>
              </div>
              <div class="vote-list-score"><span><%= user.repa %></span></div>
            </div>
            <!--<div class="vote-pet-photo"><%= image_tag user.mypets.first.pet_attachments.first.file.thumb_70 if user.mypets.count > 0 && user.mypets.first.pet_attachments.count > 0 %></div>-->
          </li>
          <% x += 1 %>
          <% y -= 20 %>
      <% end %>
    </ul>
    <h4>Победители прошлых конкурсов</h4>
    <ul class="last-winners-list">
      <% @winners.each do |winner| %>
          <li>
            <div class="last-winners-item spec">
              <a href="<%= user_path(winner.user.nickname.downcase) %>">
                  <div class="last-winners-top">
                    <div class="last-winners-pic"><%= image_tag winner.user.avatar.url(:small) %></div>
                    <div class="last-winners-text">
                      <span>
                        <span class="nick-name"><%= winner.user.nickname %></span>
                        <span class="real-name"><%= winner.user.first_name if winner.user.first_name %> <%= winner.user.last_name if winner.user.last_name %></span>
                      </span>
                    </div>
                  </div>
                  <div class="last-winners-bttm">
                    <span><%= image_tag winner.user.mypets.first.pet_attachments.first.file.thumb_174 if winner.user.mypets.count > 0 %></span>
                    <span>
                      <span>
                        <span>Победитель!</span>
                        <span><%= winner.created_at.strftime("%m %Y") %></span>
                      </span>
                    </span>
                  </div>
              </a>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  </div>