<% if params[:action] == 'index' %>
    <% title = 'Отзывы о породах' %>
<% elsif params[:action] == 'breed_type' %>
    <% params[:breed_type] == 'dog' ? title = 'Отзывы о породах собак' : title = 'Отзывы о породах кошек' %>
<% elsif params[:action] == 'breed_translate' %>
    <% title = "Отзывы о породе #{Breed.find_by_translate(params[:breed_translate]).name}" %>
<% end %>
<% content_for :title, "#{title} - LivePets" %>
<script>
    $(function(){
        $("input[type='checkbox']").change(function(){
            var item=$(this);
            if(item.is(":checked"))
            {
                window.location.href= item.data("target")
            }
        });
    });
</script>
<div class="content narrow">
  <div class="new-post-form no-bg">
    <i></i>
    <i></i>
    <div class="breadcrumbs">
      <%= render 'nav' %>
    </div>
    <br>
    <h1><%= title %></h1>
    <div class="feed2-block">
      <%= render 'filter' %>
      <ul class="feed2-list">
        <li>
          <div class="feed2-add">
            <a href="<%= new_review_path %>">
              <span><i></i>Добавить отзыв</span>
            </a>
          </div>
        </li>
        <% reviews = Review.order("created_at DESC") if params[:action] == 'index' %>
        <% reviews = Review.where(breed_type: 'Dog').order("created_at DESC") if params[:breed_type] == 'dog' %>
        <% reviews = Review.where(breed_type: 'Cat').order("created_at DESC") if params[:breed_type] == 'cat' %>
        <% reviews = Breed.find_by_translate(params[:breed_translate]).reviews.order("created_at DESC") if params[:action] == 'breed_translate' %>
        <% reviews.each do |review| %>
            <%= render partial: 'review', object: review, as: 'review' %>
        <% end %>
      </ul>
      <div class="feed2-add-link"><%= link_to 'Добавить отзыв', new_review_path %></div>
    </div>
  </div>
</div>