<% if params[:action] == 'index' %>
    <% title = 'Отзывы о породах' %>
<% elsif params[:action] == 'breed_type' %>
    <% params[:breed_type] == 'dog' ? title = 'Отзывы о породах собак' : title = 'Отзывы о породах кошек' %>
<% elsif params[:action] == 'breed_translate' %>
    <% title = "Отзывы о породе #{Breed.find_by_translate(params[:breed_translate]).name}" %>
<% end %>
<% content_for :title, "#{title} - LivePets" %>
<script>
    $(function(){
        $("input[type='checkbox']").change(function(){
            var item=$(this);
            if(item.is(":checked"))
            {
                window.location.href= item.data("target")
            }
        });
    });
</script>
<div class="content narrow">
  <div class="new-post-form no-bg">
    <i></i>
    <i></i>
    <div class="breadcrumbs">
      <%= render 'nav' %>
    </div>
    <br>
    <%= params[:action] %>
    <%= params[:breed_type] %>
    <h1><%= title %></h1>
    <div class="feed2-block">
      <%= render 'filter' %>
      <ul class="feed2-list">
        <li>
          <div class="feed2-add">
            <a href="<%= new_review_path %>">
              <span><i></i>Добавить отзыв</span>
            </a>
          </div>
        </li>
        <% reviews = Review.order("created_at DESC") if params[:action] == 'index' %>
        <% reviews = Review.where(breed_type: 'Dog').order("created_at DESC") if params[:breed_type] == 'dog' %>
        <% reviews = Review.where(breed_type: 'Cat').order("created_at DESC") if params[:breed_type] == 'cat' %>
        <% reviews = Breed.find_by_translate(params[:breed_translate]).reviews.order("created_at DESC") if params[:action] == 'breed_translate' %>
        <% reviews.each do |review| %>
            <li>
              <div class="feed2-list-item">
                <div class="feed2-list-item-top-block">
                  <div class="feed2-list-item-top-block-num"><%= review.votes.count > 0 ? (review.votes.sum(:score).to_f/review.votes.count).round(1) : "" %></div>
                  <div class="feed2-list-item-top-block-text">
                    <div class="feed2-list-item-top-block-text-name"><%= link_to review.user.nickname, user_path(review.user.nickname.downcase) %></div>
                    <div class="feed2-list-item-top-block-text-place"><%= review.user.city ? review.user.city.name : 'Город не указан' %></div>
                  </div>
                </div>
                <div class="feed2-list-item-pic-block"><%= link_to (image_tag review.review_attachments.sample.file), review_show_path(review.breed.breed_type, review.breed.translate, review) %></div>
                <div class="feed2-list-item-bottom-block">
                  <div class="feed2-list-item-bottom-block-name"><%= link_to review.title, review_show_path(review.breed.breed_type, review.breed.translate, review) %></div>
                  <div class="feed2-list-item-bottom-block-breed"><%= link_to review.breed.name, "/reviews/#{review.breed.breed_type}/#{review.breed.translate}" %></div>
                </div>
              </div>
            </li>
        <% end %>

      </ul>
      <div class="feed2-add-link"><%= link_to 'Добавить отзыв', new_review_path %></div>
    </div>
  </div>
</div>