<%= form_for @review do |f| %>
    <p>Выберите породу питомца:</p>
    <p><%= select_tag :breed_type, "<option value='dog'>Собака</option><option value='cat'>Кошка</option>".html_safe %></p>
    <p><%= f.select :breed_id, options_for_select(@breeds.collect { |country| [country.name.titleize, country.id] }, 1), {}, { id: 'breeds_select' } %></p>
    <p>Кличка питомца:</p>
    <p><%= f.text_field :title %></p></p>
    <p>Ваш отзыв</p>
    <p><%= f.text_area :body, minlength:"200", id:"field", onkeyup:"countChar(this)" %></p>
    <p>Фото:</p>
    <p><%= f.file_field :review_attachments, multiple: true, name:"images[]" %></p>
    <p><%= f.submit 'Опубликовать' %></p>
<% end %>